
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 253, 240);
    height: fit-content;
    box-sizing: border-box;      
}
   
/* Logo section */ 
.logo {
    background-color: rgb(208, 92, 29);
    color: rgb(0, 0, 0);
    position: relative;
    top: 1em;
    text-align: center;
    padding: 0.25em;
    font-size: 2em;
    font-weight: 250;
    letter-spacing: 0.10em; 
}

/* Nav-bar section */
.navbar {
    background-color: rgba(208, 92, 29, 0.445);
    position: relative;
    top: 1.6em;
    width: 100%; 
    text-align: center;  
}

.navbar li {
    display: inline-block;
    padding: 0.5em 1.5em;
    letter-spacing: 0.15em;
    font-weight: 100;
    font-size: 1.18em;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: rgb(255, 253, 240);;
}

.navbar .mobile {
    display: none;
}

/* Background picture */
#banner {
    position: relative;
    top: 1.25em;
    background-image: url('ForsidebildeNY.jpeg');
    background-size: cover;
    background-position: center;
    height: 35rem;
}

/* Responsive Rules */

/* for tablets */
@media only screen and (max-width: 768px) {
    #banner {
        height: 15em;
    }   
}

/* for mobiles */
@media only screen and (max-width: 480px) {
    .navbar .mobile {
        display: block;
        position: relative;
        right: 1em;  
    }

    .navbar .desktop {
        display: none;  
    }

    #banner {
        height: 13em;
    }   
}

/* Welcome post section */
.welcomePost {
    border: dashed 0.05em black;
    border-radius: 1em;
    font-size: 0.90em;
    letter-spacing: 0.07em;
    font-weight: 100;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 35em 0em;
    padding: 2em;    
}

/* Course Section */
.postTitle {
    position: relative;
    top: 1.5em;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 100;
    color: black;
    text-align: center;
}

#post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 1em;
    align-content: center;
    margin-left: 2em;
    font-size: 1em;
    letter-spacing: 1px; 
    justify-content: center;  
}

#post .insidePost {
    background-color: rgba(87, 43, 43, 0.055);
    border-radius: 1em;
    border: dashed 0.05em black;
    position: relative;
    margin: 30px;
    width: 340px;
    height: 28.5em;
    letter-spacing: 1px;
    overflow: hidden;  
}

#post .insidePost a {
    display: inline-block;
    background-color: rgb(37, 85, 58);
    color: rgb(255, 253, 240);
    width: 100%;
    text-decoration: none;
    padding: 1.5em 0.1em;
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: 0.80em;
}

#post .insidePost img {
    display: inline-block;
    position: relative;
    bottom: 1em;
    right: 2em;
    height: 14em;
    overflow: hidden; 
    padding: 1em 2em;
}

#post .insidePost span {
    display: inline-block;
    position: relative;
    bottom: 1em;
    font-size: 0.70em;
    letter-spacing: 0.07em;
    font-weight: 200;
    padding: 0em 2em;
    color: black;   
}

#post .insidePost p {
    display: inline-block;
    position: relative;
    bottom: 3;
    padding: 0em 2em;
    font-weight: 500;
    font-size: 0.75em;
    color: black;   
}

#post a:hover {
    color: rgb(0, 0, 0);
}
  
/* Responsive Rules */

/* for tablets */
@media only screen and (max-width: 768px) {
    .welcomePost{
        display: flex;
        margin: 0em 2em;
        font-size: 1em;
        display: flex;
        top: 3.5em;
    } 

    .postTitle {
        top: 3.5em;
        margin-left: 0em;
        margin-bottom: 2.3em;
        text-align: center;
    }

    #post {
        margin-left: 0em;
    }
}

/* for mobiles */
@media only screen and (max-width: 480px) {
    .welcomePost{
        display: flex;
        margin: 0em 1em;
        font-size: 0.9em;
        top: 3.5em; 
    }  

    .postTitle {
        top: 4.5em;
        margin-left: 0em;
        margin-bottom: 1.5em;
        text-align: center;
        font-size: 1em;   
    }
    
    #post {
        top: 3em;
        margin-left: 0em;
    }

    #post .insidePost img {
        height: 12em;
        right: 3em;
        width: 20em;
    }

    #post .insidePost span {
        display: none;
    }

    #post .insidePost p {
        display: none;
    }

    #post .insidePost {
        height: 15em;
        width: 20em;
        margin: 1em;    
    }
}

/* for small desktops */
@media only screen and (min-width: 769px) and (max-width: 1400px) {
    .welcomePost{
        display: flex;
        margin: 0em 10em;
        margin-bottom: 5em;
        font-size: 1em;
        top: 3.5em; 
    } 
}

/* About page */ 
  .about {
    position: relative;
    top: 3em;
    margin: 2em 3em;
    font-size: 1em;
    color: black;
    letter-spacing: 0.3em;
  }

   /* Contact page */
   .contactForm {
    position: relative;
    top: 3em;
    margin: 2em 3em;
    font-size: 1em;
    letter-spacing: 0.3em;
    color: black;
  }

/* Instruction videos page */
 .videosSection {
    position: relative;
    top: 3em;
    margin: 2em 3em;
    font-size: 1em;
    letter-spacing: 0.3em;
    color: black;
  }

/* Footer */
footer {
    position: relative;
    top: 3.5em;
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 4rem 0; 
    color: black;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;        
}
  
  
  